/* 

Selectores 

Son patrones que permiten seleccionar y aplicar estilos especificos a elementos de una página web. 

Tipos de Selectores

  1. Selectores Básicos
      - Selector Universal
      - Selectores de Tipo
    
  2.Selectores de Clase 

  Seleccionan los elementos que tienen una clase específica. 

  Se usa la notación (.) antes del nombre de la clase

  .nombreClase {
    propiedad:valor
}

  3.Selectores de ID

  Seleccionan un elemento único con un identificador específico. 

  Se usa la notación de numeral (#) antes del nombre del id. 

  #nombreId {
      propiedad: valor;
}

  4.Selectores Combinados 
      - Descendientes 

        Seleccionan elementos dentro de otros elementos.

        elemento elementoInterno {
          propiedad: valor;
        }
      - Hijo directo

        Selecciona elementos que son hijos directos de un elemento padre.

        elemento > elementosHijos {
          propiedades: valor;
      }

      - Elemento Adyacente 

        Selecciona el primer elemento inmediatamente después del otro. (Su hermano inmediato o en ingles Siblings)

        elemento + elementoAdyacente {
          propiedad: valor;
      }

      - Hermano general 

      Selecciona todos los elementos hermanos después de un elemento. 

      elemento ~ elementoHermanos {
        propiedad: valor;
    }
  
  5. Selectores de Atributos
  
      - Atributo 

        Selecciona elementos según el atributo que indiquemos. Sin importar el valor. 

       elemento[atributo] {
        propiedad: valor;
      }

      - Atributo - Valor

        Selecciona elementos según el atributo y el valor que indiquemos. 

       elemento[atributo=valor] {
        propiedad: valor;
    }
    
  6. Selectores Avanzados

      - Pseudo-clases

        Seleccionamos elementos en un estado en particular. 

        elemento:pseudoclase {
          propiedad: valor;
      }
      - Pseudo-elementos

        Selecciona partes específicas de un elemento en html 

        elemento::pseudoelemento {
          propiedad: valor; 
      }
  
*/ 

/*
 Selectores Básicos 
 */

 /* Universal -> Seleccionar todos los elementos de un documento */ 

 * {
  /* border: 2px solid darkslategray; */
  /* Resset Básico*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 /* Selectores de Tipo -> Seleccionan un tipo de elemento en html */

 body {
  background-color:aliceblue;
}

h1 {
  color:darkred;
}

p {
  font-size: 24px;
  font-family:Arial, Helvetica, sans-serif;
}

header {
  background-color:powderblue;
}

/* Selectores de clase */

.content {
  background-color: cadetblue;
  padding: 48px;
}

.hero {
  background-color: lightcyan;
  padding: 24px;
}

.hero-title {
  background-color:paleturquoise;
  color:black;
  padding: 16px;
  text-align: center;
}

/* Selectores de Id */

#about-title {
  color:lightcyan;
  font-size: 48px;
}

/* Combinado - Elementos Descendientes */

aside section {
  background-color: powderblue;
  padding: 48px;
}

.aside-section h3 {
  color: whitesmoke;
  text-align: center;
  padding: 24px;
  background-color:darkslategray;
}

/* Combinados - Hijos Directos */

ul > li {
  background-color:darkslategray;
}

.lista > li {
  font-size: 20px;
  color:cornsilk;
}

/* Combinados - Elemento Adyacente */

h3 + ul {
  list-style: none;
}

.bro + li {
  background-color: cadetblue;
}

/* Combinados - Hermano General */

.bro + li ~ li {
  background-color:powderblue;
}

.tercero ~ li {
  color:darkslategray;
  font-size: 40px;
}

/* SELECTORES DE ATRIBUTO */

a[href] {
  display: block;
  text-decoration: none;
  color:darkslategrey
}

/* Selector de Atributo con Valor */

a[href="https://www.instagram.com"] {
  font-size: 48px;
  color:darkslategray;
}

/* Pseudo-clases */

a:hover {
  background-color: powderblue;
  color:black; 
}

a:focus {
  border: 10px darkslategrey
}

/* Pseudo-elementos */

a::after {
  content: " 🎀";
}

a::before {
  content: "Este es un enlace hacia: "; 
}
